# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/
wheels/
.venv/
venv/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# maturin
*.so
*.pyd
*.dylib

# editor
.vscode/
.idea/
*.swp
